<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
    Currently proxy on: <%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1] %>
    More cool stuff will be here soon!
    <br />
  <% end %>
<% end %>
